<settings><enable_log>true</enable_log><enable_debug>true</enable_debug><enable_query_log>false</enable_query_log><module>INGV-ONT WEB SERVICE: fdsnws-event</module><enable_handle_check>true</enable_handle_check><history>false</history><publicID_format>ingv</publicID_format><results_limit>1000</results_limit><dbnames>TestDB_1-CTL-INGV,TestDB_2-CTL-SED</dbnames><!-- List of databases enabled for write operations --><database_name_prefix>TestDB</database_name_prefix><resource_base>https://webservices.ingv.it/fdsnws/event/1/</resource_base><agencyID>INGV</agencyID><contributors>INGV,SED</contributors><catalogs>CSI,ONT-RT</catalogs><catalogs_prefix>-CTL-</catalogs_prefix></settings>